.fondo {
    background-image: url("../../assets/world.svg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center;
    display: fixed;
    
}